pipeline/lookup_copy_IfStatement_PL.json
{
	"name": "lookup_copy_IfStatement_PL",
	"properties": {
		"activities": [
			{
				"name": "query_count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(*) AS total_productos FROM dbo.products",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_product_query",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "COPY_SQL_to_ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "query_count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							}
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "nombre",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "nombre",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "descripcion",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "descripcion",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "productsDATASET",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "products_csv",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "COPY_SQL_to_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Copy_SQL_to_ADLS').output.rowsCopied, activity('query_count').output.firstRow.total_productos)\n\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "resultado_mensaje_fallo",
								"value": "fallo"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "resultado_mensaje_correcto",
								"value": [
									"correcto"
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"resultado_,mensaje": {
				"type": "Array"
			},
			"resultado_mensaje_correcto": {
				"type": "Array"
			},
			"resultado_mensaje_fallo": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PL_ejercicio_sales_products"
		},
		"annotations": [],
		"lastPublishTime": "2025-06-05T07:06:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}