pipeline/pipeline.json
{
	"name": "pipeline",
	"properties": {
		"activities": [
			{
				"name": "mes",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "mes",
					"value": {
						"value": "@pipeline().parameters.mes",
						"type": "Expression"
					}
				}
			},
			{
				"name": "anio",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "anio",
					"value": {
						"value": "@pipeline().parameters.anio",
						"type": "Expression"
					}
				}
			},
			{
				"name": "dia",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dia",
					"value": {
						"value": "@pipeline().parameters.dia",
						"type": "Expression"
					}
				}
			},
			{
				"name": "fecha_completa_concatenada",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "dia",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "mes",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "anio",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fecha",
					"value": {
						"value": "@concat(pipeline().parameters.anio,'-',pipeline().parameters.mes,'-',pipeline().parameters.dia)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CD_csv",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "fecha_completa_concatenada",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "url",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "url",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "pokemons_10_csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "copydata_variable_name",
						"type": "DatasetReference",
						"parameters": {
							"nombreFecha": {
								"value": "@concat(variables('fecha'))",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"dia": {
				"type": "string"
			},
			"mes": {
				"type": "string"
			},
			"anio": {
				"type": "string"
			}
		},
		"variables": {
			"dia": {
				"type": "String"
			},
			"mes": {
				"type": "String"
			},
			"anio": {
				"type": "String"
			},
			"fecha": {
				"type": "String"
			},
			"mes1": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PL_params_variables_test"
		},
		"annotations": [],
		"lastPublishTime": "2025-06-06T20:49:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}