icarodatafactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "icarodatafactory"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"LS__SQL_SalesDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS__SQL_SalesDB'"
		},
		"LS_databricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_databricks'"
		},
		"RestService2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'RestService2'"
		},
		"clase5_ejemplo_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'clase5_ejemplo'"
		},
		"sql_dataset_look_up_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'sql_dataset_look_up'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://myicaroworkspace.dfs.core.windows.net/"
		},
		"LS_API_key_vault_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.nasa.gov/insight_weather/?api_key=@linkedService().apikey&feedtype=json&ver=1.0\n"
		},
		"LS_KEYVAULT_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://migrupodellaves.vault.azure.net/"
		},
		"LS__SQL_SalesDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "mi-servidor-sql-bocha.database.windows.net"
		},
		"LS__SQL_SalesDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "miBaseDeDatos"
		},
		"LS__SQL_SalesDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "usuarioazure"
		},
		"LS_databricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0610-223445-3o9i9sfr"
		},
		"RestService1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://pokeapi.co/api/v2/"
		},
		"RestService2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.bcra.gob.ar/centraldeudores/v1.0/Deudas/ChequesRechazados"
		},
		"RestService2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "usuarioazure"
		},
		"clase5_ejemplo_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "mi-servidor-sql-bocha.database.windows.net"
		},
		"clase5_ejemplo_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "miBaseDeDatos"
		},
		"clase5_ejemplo_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "usuarioazure"
		},
		"sql_dataset_look_up_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "mi-servidor-sql-bocha.database.windows.net"
		},
		"sql_dataset_look_up_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "miBaseDeDatos"
		},
		"sql_dataset_look_up_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "usuarioazure"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_API_NASA_mars_info')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_API_key_vault",
					"type": "LinkedServiceReference",
					"parameters": {
						"apikey": "6uZF2fm9jgGtAlG9MuT4NCVFCbk4HF7fDcYvzHSL"
					}
				},
				"folder": {
					"name": "DS_NASA_work"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_API_key_vault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_NASA_mars_info_JSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_NASA_work"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "data_7324c950-d84c-47b4-8793-d9b2e3fa776b_4421e690-fc91-4004-b405-7fad2000e8c4.json",
						"folderPath": "mars_data/data_raw",
						"container": "nasa"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NASA_mars_info_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_NASA_work"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "processed/mars_weather_clean_final_csv",
						"container": "nasa"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_API_key_vault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"apikey": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_API_key_vault_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_KEYVAULT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "conexion al valor de la NASA_API",
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_KEYVAULT_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS__SQL_SalesDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS__SQL_SalesDB_properties_typeProperties_server')]",
					"database": "[parameters('LS__SQL_SalesDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS__SQL_SalesDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS__SQL_SalesDB_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2350102757370114.14.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_databricks_accessToken')]"
					},
					"existingClusterId": "[parameters('LS_databricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "LS_Rest_PokeAPI",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService2_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('RestService2_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('RestService2_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/clase5_ejemplo')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('clase5_ejemplo_properties_typeProperties_server')]",
					"database": "[parameters('clase5_ejemplo_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('clase5_ejemplo_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('clase5_ejemplo_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_dataset_look_up')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('sql_dataset_look_up_properties_typeProperties_server')]",
					"database": "[parameters('sql_dataset_look_up_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('sql_dataset_look_up_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('sql_dataset_look_up_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_mars_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "API_GET to JSON file",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_API_NASA_mars_info",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_NASA_mars_info_JSON",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Transform_Clean_JSON_Create_CSV_File",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "API_GET to JSON file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/alvaroreynoso1997@hotmail.com/Nasa_JSON_transform"
						},
						"linkedServiceName": {
							"referenceName": "LS_databricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Csv to mars SQL table",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Transform_Clean_JSON_Create_CSV_File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "processed/mars_weather_clean_final_csv",
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "NASA_mars_info_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_mars_table",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_API_NASA_mars_info')]",
				"[concat(variables('factoryId'), '/datasets/DS_NASA_mars_info_JSON')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_databricks')]",
				"[concat(variables('factoryId'), '/datasets/NASA_mars_info_csv')]",
				"[concat(variables('factoryId'), '/datasets/DS_mars_table')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_mars_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sql_dataset_look_up",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "mars",
					"table": "mars_table"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sql_dataset_look_up')]"
			]
		}
	]
}